:root.theme-dark {
  .page {
    --bg-image: url("../images/cover-image-dark.png");
    --main-color: #ff0070;
    --title-color: #db00ff;
    --text-color: #f1b2ce;
    --subhead-color: #000028;
  }

  .subhead__decor {
    --main-color: #ff0070;
  }
}
