@media (prefers-color-scheme: light) {
  .page {
    --bg-image: url("../images/cover-image-light.png");
    --main-color: #353430;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --subhead-color: #000028;
  }

  .subhead__decor {
    --main-color: #ff8dcb;
  }

  .decor-label {
    display: none;
  }

  .text-highlight {
    --main-color: #ff8dcb;
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(53, 52, 48, 0.4);
  }
}

:root.theme-light {
  .page {
    --bg-image: url("../images/cover-image-light.png");
    --main-color: #353430;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --subhead-color: #000028;
  }

  .subhead__decor {
    --main-color: #ff8dcb;
  }

  .decor-label {
    display: none;
  }

  .text-highlight {
    --main-color: #ff8dcb;
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(53, 52, 48, 0.4);
  }
}
