@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --color-primary: #ffc2e6;
    --main-color: #353430;
    --text-color: #353430;
    --border-color-hover: rgba(53, 52, 48, 0.4);
    --display-label: none;
    --margin-left-title: 2.9%;
    --padding-bottom-image: none;
  }

  .subhead__decor {
    --main-color: #ff8dcb;
    --color-primary: #353430;
  }

  .title__decor {
    --title-color: #ffc2e6;
    --main-color: #ff8dcb;
  }

  .text-highlight {
    --main-color: #ff8dcb;
  }
}

:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --color-primary: #ffc2e6;
  --main-color: #353430;
  --text-color: #353430;
  --border-color-hover: rgba(53, 52, 48, 0.4);
  --display-label: none;
  --margin-left-title: 2.9%;
  --padding-bottom-image: none;

  .subhead__decor {
    --main-color: #ff8dcb;
    --color-primary: #353430;
  }

  .title__decor {
    --title-color: #ffc2e6;
    --main-color: #ff8dcb;
  }

  .text-highlight {
    --main-color: #ff8dcb;
  }
}
