:root {
  --bg-image: url("../images/cover-image-dark.png");
  --main-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --subhead-color: #000028;
  --main-font: "IBM Plex Mono", "Arial", sans-serif;
  --main-size: 1.125rem;
}
